<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trackobot.android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:name=".TrackOBotApplication"
      android:theme="@style/TrackOBotTheme">
    <activity
        android:name=".screens.main.MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".screens.setup.SetupActivity"/>
    <activity android:name=".screens.matchdetails.MatchDetailsActivity"/>
    <activity android:name=".screens.arenadetails.ArenaDetailsActivity"/>
  </application>

</manifest>
